# ╔════════════════════════════════════════╗
# ║      Gdisk-ext2 v5.0 - Multibooter     ║
# ║  rEFInd ~ agFM ~ iPXE ~ ISO Scanner    ║
# ║ Gdiskchain ~ Vtoy ~ WinPe ~ Linux-Live ║
# ╚════════════════════════════════════════╝

if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=auto
    insmod gfxterm
    insmod video_bochs
    insmod video_cirrus
    terminal_output gfxterm
fi
insmod png
background_image -m stretch /boot/grub/grub.png
set timeout=10
set default=0
set theme=/boot/grub/theme.cfg
set color_normal=white/black
set color_highlight=white/black

if [ -f /live/filesystem.squashfs ]; then
    menuentry "Glitch Linux Live Boot" {
        configfile /boot/grub/linux-live.cfg
    }
fi

if [ -f /boot/grub/vdiskchain/vdiskchain ]; then
    menuentry "VdiskChain OS Boot" {
        configfile /boot/grub/vdiskchain.cfg
    }
fi

if [ -d /boot/grub/winpe-vtoy/ ]; then
    menuentry "WinPE Vtoy Tools" {
         configfile /boot/grub/winpe-vtoy.cfg
    }
fi

menuentry "ISO Scan & Boot" {
    configfile /boot/grub/iso-menu.cfg
}

if [ -f /sources/boot.wim ]; then
  if [ "${grub_platform}" = "efi" ]; then
      menuentry "Boot WinPE" {
          chainloader /EFI/microsoft/BOOTX64.EFI
      }  
  fi
  # BIOS BOOT 
  if [ "${grub_platform}" = "pc" ]; then
      menuentry "Boot WinPE" {
          insmod ntfs
          insmod part_msdos
          insmod ntldr
          ntldr /boot/bootmgr
      }  
  fi
fi

### UEFI-Only Boot Entries ###

if [ "${grub_platform}" = "efi" ]; then
    menuentry "iPXE Multiboot" {
        configfile /boot/grub/grub-ipxe.cfg
    }
    menuentry "Gdisk Ventoy" {
        insmod chain
        chainloader /boot/grub/images/Gdisk-Ventoy-Compressed.vtoy vdisk=/boot/grub/images/Gdisk-Ventoy-Compressed.vtoy
        boot
    }
    menuentry "rEFInd UEFI" --class refind {
        insmod part_gpt
        insmod fat
        insmod chain
        search --file --no-floppy --set=root /EFI/refind/bootx64.efi
        chainloader /EFI/refind/bootx64.efi
    }
    menuentry "agFM UEFI" {
        chainloader /EFI/grubfm/grubfmx64.efi
    }

fi
### BIOS-Only Boot Entries ###

if [ "${grub_platform}" = "pc" ]; then  
    menuentry "iPXE Multiboot" {
        configfile /boot/grub/grub-ipxe.cfg
    }
    menuentry "Gdisk Ventoy" {
        linux16 /boot/grub/images/Gdisk-Ventoy-Compressed.krn
        initrd16 /boot/grub/images/Gdisk-Ventoy-Compressed.vtoy
	boot
    }
    menuentry "agFM BIOS" --class grubfm {
        insmod multiboot
        multiboot /boot/grub/agFM/agFM.elf
        boot
    }
fi

### System Controls ###

menuentry "System" {
    configfile /boot/grub/system.cfg
}
