# ╔═══════════════╗
# ║ ISO Scan Menu ║
# ╚═══════════════╝

if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=auto
    insmod gfxterm
    insmod video_bochs
    insmod video_cirrus
    terminal_output gfxterm
fi
insmod png
background_image -m stretch /boot/grub/grub.png
set timeout=1
set default=0
set theme=/boot/grub/theme-iso.cfg
set color_normal=white/black
set color_highlight=white/black

if [ "${grub_platform}" == "pc" ]; then
    menuentry " " {
    echo " "
    echo " Scanning partitions for iso files "
    echo " "
    echo " This can take time - Stay patient "
    echo ""
    configfile /boot/grub/iso-scan.cfg
}

fi

if [ "${grub_platform}" == "efi" ]; then
    menuentry " " {
    configfile /boot/grub/iso-scan.cfg
}
fi

