# ╔══════════════════════════════════════╗
# ║      Gdisk GRUB2 - MULTIBOOTER       ║
# ║  rEFInd ~ agFM ~ iPXE ~ ISO Scanner  ║
# ╚══════════════════════════════════════╝

if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=auto
    insmod gfxterm
    insmod video_bochs
    insmod video_cirrus
    terminal_output gfxterm
fi
insmod png
background_image -m stretch /boot/grub/grub.png
set timeout=10
set default=0
set theme=/boot/grub/theme.cfg
set color_normal=white/black
set color_highlight=white/black

### Universal Boot Entries ###

if [ -f /live/filesystem.squashfs ]; then
    menuentry "Glitch Linux Live Boot" {
        configfile /boot/grub/linux-live.cfg
    }
fi

menuentry "VdiskChain OS Boot" {
    configfile /boot/grub/vdiskchain.cfg
}
menuentry "WinPE Vtoy Tools" {
    configfile /boot/grub/winpe-vtoy.cfg
}
menuentry "ISO Scan & Boot" {
    configfile /boot/grub/iso-menu.cfg
}

if [ -f /sources/boot.wim ]; then
  if [ "${grub_platform}" = "efi" ]; then
      menuentry "Mini WinPE" {
          chainloader /EFI/microsoft/boot/BOOTX64.EFI
      }  
  fi

  if [ "${grub_platform}" = "pc" ]; then
      menuentry "Mini WinPE" {
          insmod ntfs
          insmod part_msdos
          insmod ntldr
          ntldr /boot/bootmgr
      }  
  fi
fi

,
### UEFI-Only Boot Entries ###

if [ "${grub_platform}" = "efi" ]; then
    menuentry "iPXE Multiboot" {
        configfile /boot/grub/grub-ipxe.cfg
    }
    menuentry "rEFInd UEFI" --class refind {
        insmod part_gpt
        insmod fat
        insmod chain
        search --file --no-floppy --set=root /EFI/refind/bootx64.efi
        chainloader /EFI/refind/bootx64.efi
    }
    menuentry "agFM UEFI" {
        chainloader /EFI/grubfm/grubfmx64.efi
    }

fi
### BIOS-Only Boot Entries ###

if [ "${grub_platform}" = "pc" ]; then  
    menuentry "iPXE Multiboot" {
        configfile /boot/grub/grub-ipxe.cfg
    }
    menuentry "agFM BIOS" --class grubfm {
        insmod multiboot
        multiboot /boot/grub/agfm/grubfm.elf
        boot
    }
fi

### System Controls ###

menuentry "System" {
    configfile /boot/grub/system.cfg
}
