if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=auto
    insmod gfxterm
    # For BIOS mode
    insmod video_bochs
    insmod video_cirrus
    # For UEFI mode
    #insmod efi_gop
    #insmod efi_uga
    terminal_output gfxterm
fi
insmod png
background_image -m stretch /boot/grub/grub.png
set timeout=10
set default=0
set theme=/boot/grub/theme.cfg

### Universal Boot Entries (Available in both BIOS and UEFI) ###

menuentry "Shutdown" {
    halt
}

menuentry "Reboot" {
    reboot
}

menuentry "[←]" {
    configfile /boot/grub/grub.cfg
}