title-text: "Gdisk ext2 ~ Vdiskchain OS"
title-font: "Sans Bold 28"
title-color: "#FFFFFF"
desktop-color: "#000000"
desktop-image: "/boot/grub/grub.png"
message-font: "Sans Regular 20"
message-color: "#FFFFFF"
message-bg-color: "#000000"
terminal-font: "Sans Regular 20"

+ boot_menu {
  left = 18%
  top = 25%
  width = 70%
  height = 80%

  item_font = "DejaVu Sans Bold 14"
  item_color = "#FFFFFF"
  item_height = 32
  item_icon_space = 8
  item_spacing = 2

  selected_item_font = "DejaVu Sans Bold 14"
  selected_item_color= "#FF7038"
  # selected_item_pixmap_style = "select_*.png"

  icon_height = 32
  icon_width = 32

  scrollbar = false
  scrollbar_width = 20
  scrollbar_thumb = "slider_*.png"
}

+ progress_bar {
  id = "__timeout__"

  left = 15%
  top = 85%
  height = 15
  width = 70%

  # font = "DejaVu Sans Regular 14"

  # text_color = "#aaaaaa"
  fg_color = "#FF7038"

  bg_color = "#242424"
  border_color = "#242424"

  # instead of the above colors, use pixmaps
  # bar_style = "progress_bar_*.png"
  # highlight_style = "progress_highlight_*.png"

  # text = "@TIMEOUT_NOTIFICATION_LONG@"
}

# Footer information
+ vbox {
    top = 95%
    left = 2%
    + label {
        text = ""
        font = "Sans Bold 24"
        color = "#ffffff"
        align = "center"
    }
}