# ╔═══════════════════════════════════╗
# ║ WinPE - vDiskChain static boot    ║
# ╚═══════════════════════════════════╝

set MICROTECH="/boot/grub/winpe-vtoy/MicroTech-11-WinPE.vtoy"
set DISKGENIUS="/boot/grub/winpe-vtoy/Diskgenius-Pro-v6.vtoy"
set MINIWINPE="/boot/grub/winpe-vtoy/MiniWin-10-WinPE.vtoy"

set timeout=10
set default=0
set theme=/boot/grub/winpe-theme.cfg
set color_normal=black/black
set color_highlight=black/black

### ════════════════════════════════════ ###
###   UEFI - vDiskChain                  ###
### ════════════════════════════════════ ###

if [ "${grub_platform}" = "efi" ]; then
    menuentry "Microtech 11 WinPE [UEFI]" --class windows {
        insmod chain
        chainloader /boot/grub/vdiskchain/vdiskchain vdisk=$MICROTECH
        boot
    }
fi

if [ "${grub_platform}" = "pc" ]; then
    menuentry "Microtech 11 WinPE [BIOS]" --class windows {
        linux16 /boot/grub/vdiskchain/vdisk.krn vdisk=$MICROTECH
        initrd16 /boot/grub/vdiskchain/vdiskchain
        boot
    }
fi

if [ "${grub_platform}" = "efi" ]; then
    menuentry "MiniWin 10 WinPE [UEFI]" --class windows {
        insmod chain
        chainloader /boot/grub/vdiskchain/vdiskchain vdisk=$MINIWINPE
        boot
    }
fi

if [ "${grub_platform}" = "pc" ]; then
    menuentry "MiniWin 10 WinPE [BIOS]" --class windows {
        linux16 /boot/grub/vdiskchain/vdisk.krn vdisk=$MINIWINPE
        initrd16 /boot/grub/vdiskchain/vdiskchain
        boot
    }
fi


if [ "${grub_platform}" = "efi" ]; then
    menuentry "Diskgenius WinPE [UEFI]" --class windows {
        insmod chain
        chainloader /boot/grub/vdiskchain/vdiskchain vdisk=$DISKGENIUS
        boot
    }
fi

if [ "${grub_platform}" = "pc" ]; then
    menuentry "Diskgenius WinPE [BIOS]" --class windows {
        linux16 /boot/grub/vdiskchain/vdisk.krn vdisk=$DISKGENIUS
        initrd16 /boot/grub/vdiskchain/vdiskchain
        boot
    }
fi

menuentry "[←]" {
    configfile /boot/grub/grub.cfg
}
